In [1]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('population_by_zip_2010.csv')

In [7]:
df.groupby('zipcode').sum()[['population']]

         population
zipcode
602          124560
603          164067
606           19845
610           87048
612          201030
616           33051
617           73791
622           23559
623          129183
624           78723
627          105477
631            5556
637           75861
638           56823
641           93573
646          114597
647           18516
650           44994
652           14145
653           39921
656           64443
659          125859
660           51750
662          129846
664           50352
667           77904
669           89232
670           29421
674          133371
676          120948
...             ...
99786           777
99788           207
99789          1206
99790            60
99791           711
99801         87492
99820          1437
99824          6333
99825           360
99826          1326
99827          7806
99829          2331
99830          1683
99832           312
99833          9606
99835         26640
99836           156
99840          2904
99841           399
99901         40524
99903            93
99918           693
99919          1593
99921          5760
99922          1152
99923           261
99925          2457
99926          4380
99927           282
99929          7014

[33119 rows x 1 columns]